<!doctype html>
<html lang="vi">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<title>Inbox</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">

		<form th:action="@{/search}">
					<div class="input-group">
						<input type="text" class="form-control" name="name" id="name" placeholder="Search mail">
						<div class="input-group-append">
							<button type="submit" class="btn btn-secondary btn-number">
								<i class="fa fa-search"></i>
							</button>
						</div>
					</div>
				</form>
	</nav>
	<div class="container-fluid">
		<table class="table">
			<thead class="thead-light">
				<tr align="center">
                    <th scope="col" width="100">No.</th>
					<th scope="col" width="400">Subject</th>
					<th scope="col" width="400">From</th>
                    <th scope="col" width="400">Date</th>
					<th scope="col" width="700">Content</th>
					<!-- <th scope="col" width="200">Label</th> -->

				</tr>
			</thead>
			<tbody>
                {% for mail in mails %}
				<tr >
					<td align="center">{{index}}</td>
					<td >{{mail.Subject}}</td>
					<td >{{mail.From}}</td>
					<td >{{mail.Date}}</td>
					<td >{{mail.Content}}</td>
				</tr>
                {% endfor %}
			</tbody>
		</table>
	</div>

</body>

</html>